<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12">
    <img src="https://static.pexels.com/photos/721/cars-yellow-vehicle-vintage.jpg" class="img-responsive">
    </div>
  </div>
</div>
<div class="jumbotron specialtron"></div>