<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12 image">
    <img src="/images/homepage.jpg" class="img-responsive">
        <h2 class="main-h2"> Chronicle your car's<br> history of maintenance<br> and repairs.</h2>
    </div>
</div>
<div class="row homepage-col">
  <div class="col-md-4">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    <p>Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.</p>
  </div>
  <div class="col-md-4">
    <span class="glyphicon glyphicon glyphicon-check"></span>
    <p>Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.</p>
  </div>
  <div class="col-md-4">
    <span class="glyphicon glyphicon-paste"></span>
    <p>Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.Record all of your maintenance and repair history for your car. See everything organized in an amazing and wonderful way wow.</p>
  </div>
</div>
<div class="jumbotron specialtron"></div>