<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12 image">
    <img src="/images/homepage.jpg" class="img-responsive">
        <h2> Chronicle your car's<br> history of maintenance<br> and repairs.</h2>
    </div>
</div>
<div class="jumbotron specialtron"></div>