<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12 image">
    <img src="/images/homepage.jpg" class="img-responsive">
        <h2 class="main-h2"> Chronicle your car's<br> history of maintenance<br> and repairs.</h2>
    </div>
</div>
<div class="row homepage-col">
  <div class="col-md-4 homepage-blurb">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    <p>Keep track of repairs and maintenance work done to your car. Access comprehensive reports to send to mechanics or potential buyers.  </p>
  </div>
  <div class="col-md-4 homepage-blurb">
    <span class="glyphicon glyphicon glyphicon-check"></span>
    <p>Visually represent the current state of your car based on your mileage. Know when it is time to change your oil or get your vehicle serviced. </p>
  </div>
  <div class="col-md-4 homepage-blurb">
    <span class="glyphicon glyphicon-paste"></span>
    <p>Allow mechanics to update repairs and maintenance records securely. Keep an accurate history of the work done to your car.</p>
  </div>
</div>