@import 'bootstrap-sprockets';
@import 'bootstrap';

$font-stack: Arial, sans-serif;
$primary-color: #FFB03B;

body {
  padding-top: 60px;
  font: $font-stack;
  color: $primary-color;
  text-align: center;
}

.specialtron {
	height: 300px;
}