@import 'bootstrap-sprockets';
@import 'bootstrap';

$font-stack: Arial, sans-serif;
$primary-color: #000000;

body {
  padding-top: 60px;
  font: $font-stack;
  color: $primary-color;
  text-align: center;
}

.specialtron {
	height: 300px;
}

.navbar-brand {
	font-size: 40px;
}

.checkbox {
	text-align: right;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}